---
import Layout from '@layouts/Common.astro'
import {Image} from 'astro:assets'

import '@styles/pages/home.css'

import homeHeroImage01 from '@images/girl-teacher-decorations.jpg'
import homeHeroImage02 from '@images/girls-faces-tongues.jpg'
import homeHeroImage03 from '@images/girl-woman-carry.jpg'
import homeHeroImage04 from '@images/girl-smile-books.jpg'
import homeAboutUsImage01 from '@images/woman-kids-abacus.jpg'

const title = 'Temple Beit HaYam'
---

<Layout {title}>
	<div class="grid-cols-content-2/5 pb-content-block gap-content grid pt-50">
		<header class="half grid content-center gap-y-4 py-16">
			<hgroup class="flex flex-col-reverse">
				<h1 class="text-blue !text-6xl text-balance">
					A Great Start for Your Child
				</h1>
				<p class="text-gray text-lg">Play, Learn, and Grow</p>
			</hgroup>
			<p>
				We provide a warm and safe place where your child can make new friends
				and discover the world. Join our family-centered program designed for
				children ages 1 to 5.
			</p>
			<button class="bg-lochmara-500">Contact Us</button>
		</header>
		<div
			class="half relative col-end-[breakout-end] hidden content-center self-stretch lg:grid">
			<Image
				src={homeHeroImage01}
				alt=""
				class="animate-in fade-in slide-in-from-left-4 absolute -top-8 left-[15%] z-2 size-60 rounded-full duration-1000"
			/>
			<Image
				src={homeHeroImage04}
				alt=""
				class="animate-in fade-in slide-in-from-right-4 absolute top-16 right-24 z-2 size-40 rounded-full duration-1000"
			/>
			<Image
				src={homeHeroImage03}
				alt=""
				class="animate-in fade-in slide-in-from-top-4 absolute -bottom-24 left-40 z-2 size-45 rounded-full duration-1000"
			/>
			<Image
				src={homeHeroImage02}
				alt=""
				class="animate-in fade-in slide-in-from-bottom-4 absolute right-0 -bottom-10 z-2 size-30 rounded-full duration-1000"
			/>
			<div
				class="absolute top-[20%] right-[30%] size-20 rounded-full bg-orange-200">
			</div>
			<div
				class="absolute top-[30%] right-[45%] size-10 rounded-full bg-orange-400">
			</div>
			<div
				class="absolute top-[45%] right-[60%] size-33 rounded-full bg-orange-300">
			</div>
			<div
				class="absolute top-[60%] right-[10%] size-50 rounded-full bg-orange-100">
			</div>
		</div>
	</div>
	<section
		aria-labelledby="classrooms-label"
		class="bg-[url('/images/background-01.jpg')]">
		<header class="flex flex-col-reverse items-center">
			<hgroup>
				<h2 id="classrooms-label">Lorem Ipsum.</h2>
				<p>Lorem ipsum dolor sit amet.</p>
			</hgroup>
		</header>
		<div
			class="grid grid-cols-1 justify-center gap-2 md:grid-cols-2 lg:grid-cols-4">
			<div class="course hover:!border-t-red-500">
				<img
					loading="lazy"
					decoding="async"
					width="60"
					height="52"
					src="https://backtheme.com/university/wp-content/uploads/2023/04/cat_img_h_1_3.png"
					alt=""
				/>
				<h3 class="!text-lg">Toddlers</h3>
				<p class="tiny text-gray-500">12 months to 24 months</p>
			</div>
			<div class="course hover:!border-t-blue-500">
				<img
					loading="lazy"
					decoding="async"
					width="60"
					height="52"
					src="https://backtheme.com/university/wp-content/uploads/2023/04/cat_img_h_1_3.png"
					alt=""
					5
				/>
				<h3 class="!text-lg">Terrific Twos</h3>
				<p class="tiny text-gray-500">24 months &mdash; 36 months</p>
			</div>
			<div class="course hover:!border-t-green-500">
				<img
					loading="lazy"
					decoding="async"
					width="60"
					height="52"
					src="https://backtheme.com/university/wp-content/uploads/2023/04/cat_img_h_1_3.png"
					alt=""
				/>
				<h3 class="!text-lg">Preschool 3s</h3>
				<p class="tiny text-gray-500">3 years &mdash; 4 years</p>
			</div>
			<div class="course hover:!border-t-orange-500">
				<img
					loading="lazy"
					decoding="async"
					width="60"
					height="52"
					src="https://backtheme.com/university/wp-content/uploads/2023/04/cat_img_h_1_3.png"
					alt=""
				/>
				<h3 class="!text-lg">VPK</h3>
				<p class="tiny text-gray-500">
					4 years old<br />(on our before September 1 st)
				</p>
			</div>
		</div>
	</section>
	<section class="breakout grid-cols-content-5/9 items-center">
		<div class="half">
			<Image src={homeAboutUsImage01} alt="" class="rounded-3xl" />
		</div>
		<div class="half">
			<header>
				<hgroup>
					<p>A Loving Start for Every Child</p>
					<h2>Our Mission</h2>
				</hgroup>
			</header>
			<p>
				At the ECLC, we treat every child like family. Our mission is to provide
				a safe, happy place where children ages 1 to 5 can learn through play
				and grow with confidence.
			</p>
			<a href="#" class="btn mt-6">Learn More About the ECLC</a>
		</div>
	</section>
	<section
		class="from-lochmara-700/90 bg-linear-to-b from-70% via-white via-70%">
		<header>
			<hgroup class="text-center">
				<h2 class="!text-white">How We Help Your Child Bloom</h2>
				<p class="text-white">
					We provide the tools and space for your child to explore their unique
					talents
				</p>
			</hgroup>
		</header>
		<div class="flex flex-wrap justify-center gap-2">
			<div class="highlight">
				<img
					loading="lazy"
					decoding="async"
					width="60"
					height="52"
					src="https://backtheme.com/university/wp-content/uploads/2023/04/cat_img_h_1_3.png"
					alt=""
				/>
				<h3 class="!text-lg">Expressing Creativity</h3>
				<p class="small text-gray-500">
					Kids express themselves through fun art, music, and dance.
				</p>
			</div>
			<div class="highlight">
				<img
					loading="lazy"
					decoding="async"
					width="60"
					height="52"
					src="https://backtheme.com/university/wp-content/uploads/2023/04/cat_img_h_1_3.png"
					alt=""
				/>
				<h3 class="!text-lg">Growing Strong &amp; Healthy</h3>
				<p class="small text-gray-500">
					Safe outdoor play helps children grow strong and healthy.
				</p>
			</div>
			<div class="highlight">
				<img
					loading="lazy"
					decoding="async"
					width="60"
					height="52"
					src="https://backtheme.com/university/wp-content/uploads/2023/04/cat_img_h_1_3.png"
					alt=""
				/>
				<h3 class="!text-lg">Kind Hearts &amp; Good Friends</h3>
				<p class="small text-gray-500">
					Children learn to be kind and make good friends.
				</p>
			</div>
		</div>
	</section>
</Layout>
