---
import ContactForm from '@components/ContactForm.astro'

import {Icon} from 'astro-icon/components'
import type {Identity} from '@interfaces/identity'
import type {Classroom} from '@interfaces/classroom'

import '@styles/landmarks/common/drawer.css'

interface Props {
  identity: Identity
  classrooms: Classroom[]
}

const {identity, classrooms} = Astro.props
---

<aside
  id="mobile-drawer"
  x-show="isDrawerOpen"
  x-trap.noscroll="isDrawerOpen"
  x-cloak
  class="fixed inset-0 z-50 md:hidden"
  aria-modal="true"
  role="dialog"
  @keydown.escape.window="isDrawerOpen = false">
  <div
    x-show="isDrawerOpen"
    x-transition.opacity
    @click="isDrawerOpen = false"
    class="fixed inset-0 bg-slate-900/50 backdrop-blur-sm">
  </div>

  <div
    x-show="isDrawerOpen"
    x-transition:enter="transition transform ease-out duration-300"
    x-transition:enter-start="translate-x-full"
    x-transition:enter-end="translate-x-0"
    x-transition:leave="transition transform ease-in duration-200"
    x-transition:leave-end="translate-x-full"
    class="fixed top-0 right-0 z-50 flex h-screen w-fit max-w-[90vw] flex-col space-y-8 bg-white p-5 shadow-2xl">
    <div
      class="flex items-center justify-between gap-2 border-b border-slate-300 py-5 text-blue-900">
      <button
        @click="isDrawerOpen = false"
        aria-label="Close Menu"
        class="p-0 text-xl text-slate-500 transition-colors hover:text-blue-600">
        <Icon name="line-md:menu-to-close-transition" aria-hidden="true" />
      </button>
      <span class="text-lg">{identity.name}</span>
    </div>
    <nav aria-label="Mobile Navigation">
      <ul x-data="{ isClassroomsOpen: false }">
        <li>
          <a href="/" @click="isDrawerOpen = false">
            <Icon name="lucide:home" size={20} aria-hidden="true" />Home
          </a>
        </li>
        <li>
          <a href="/about" @click="isDrawerOpen = false">
            <Icon name="lucide:smile" size={20} aria-hidden="true" />About Us
          </a>
        </li>
        <li>
          <button
            class="flex w-full items-center justify-between gap-2 text-left"
            @click="isClassroomsOpen = !isClassroomsOpen">
            <span class="flex items-center gap-2">
              <Icon
                name="lucide:blocks"
                size={20}
                aria-hidden="true"
              />Classrooms
            </span>
            <Icon
              name="lucide:chevron-down"
              class="size-4 transition-transform"
              :class="isClassroomsOpen ? 'rotate-180' : ''"
            />
          </button>
          <ul
            x-show="isClassroomsOpen"
            x-collapse
            class="mt-2 space-y-2 border-l border-slate-200 pl-8">
            {
              classrooms.map(classroom => (
                <li>
                  <a
                    href={`/classrooms/${classroom.info.slug.current}`}
                    @click="isDrawerOpen = false"
                    class="text-sm">
                    {classroom.info.title}
                  </a>
                </li>
              ))
            }
          </ul>
        </li>
        <li>
          <a href="#" @click="isDrawerOpen = false">
            <Icon
              name="lucide:scroll-text"
              size={20}
              aria-hidden="true"
            />Newsletters
          </a>
        </li>
      </ul>
    </nav>
    <div aria-labelledby="contact-heading">
      <header>
        <hgroup>
          <h3 id="contact-heading">Contact Us</h3>
        </hgroup>
      </header>
      <ContactForm context="Mobile Drawer" theme="light" btnColor="blue" />
    </div>
  </div>
</aside>
