---
import {Image} from 'astro:assets'
import {Icon} from 'astro-icon/components'

import '@styles/landmarks/common/header.css'

import Logo from '@assets/images/temple-beit-hayam.png'
---

<header id="commonHeader" class="content">
  <address class="flex items-center justify-between py-3 not-italic">
    <div class="flex items-center gap-4">
      <a href="tel:7722864374" class="flex items-center gap-x-1">
        <Icon
          name="line-md:phone-twotone-loop"
          class="text-red-400"
          size={20}
        />
        <span>772-286-4374</span>
      </a>
      <a href="mailto:misscindy@tbhfl.org" class="flex items-center gap-x-1">
        <Icon name="line-md:email-filled" class="text-green-500" size={20} />
        <span class="hidden lg:block">misscindy@tbhfl.org</span>
      </a>
      <a
        href="https://maps.app.goo.gl/YourMapLink"
        class="flex items-center gap-x-1">
        <Icon
          name="line-md:map-marker-twotone-loop"
          class="text-orange-500"
          size={20}
        />
        <span class="hidden lg:block">
          951 SE Monterey Commons Blvd Stuart, Fl 34996
        </span>
      </a>
    </div>
    <div class="flex items-center gap-2">
      <a href="https://facebook.com/YourPage">
        <Icon name="line-md:facebook" class="text-[#1877F2]" size={20} />
      </a>
    </div>
  </address>

  <nav
    class="flex items-center justify-between gap-x-8 py-3"
    aria-label="Main Navigation">
    <a href="/" aria-label="Temple Beit Hayam Home">
      <Image src={Logo} alt="" class="h-16 w-auto" aria-hidden="true" />
    </a>

    <ul class="hidden shrink basis-100 items-center justify-between lg:flex">
      <li>
        <a href="/" class="hover:text-lochmara-600 transition-colors">Home</a>
      </li>
      <li>
        <a href="/about" class="hover:text-lochmara-600 transition-colors">
          About Us
        </a>
      </li>
      <li class="nav-dropdown-group">
        <button
          type="button"
          class="nav-dropdown-trigger flex items-center gap-1"
          aria-expanded="false"
          aria-haspopup="true"
          aria-controls="classes-menu"
          id="classes-button">
          Classrooms <Icon name="line-md:chevron-small-down" size={16} />
        </button>
        <!-- <ul
          id="classes-menu"
          class="nav-dropdown-menu"
          aria-labelledby="classes-button"
          role="menu">
          {
            classrooms.map(classroom => (
              <li role="none">
                <a
                  href={`/classrooms/${classroom.slug.current}`}
                  class="nav-dropdown-item"
                  role="menuitem">
                  {classroom.title}
                </a>
              </li>
            ))
          }
        </ul> -->
      </li>
      <li>
        <a
          href="/newsletters"
          class="hover:text-lochmara-600 transition-colors">
          Newsletters
        </a>
      </li>
    </ul>
    <a href="/contact" class="btn text-nowrap max-md:!hidden">Contact Us</a>
    <button
      id="menu-toggle"
      class="text-lochmara-900 p-2 text-3xl md:hidden"
      aria-label="Open Menu">
      <!-- <Icon name="ph:list-bold" /> -->
    </button>
  </nav>
  <!-- <div
    id="drawer-overlay"
    class="pointer-events-none fixed inset-0 z-50 bg-slate-900/50 opacity-0 transition-opacity duration-300 md:hidden">
  </div>

  <div
    id="mobile-drawer"
    class="fixed top-0 right-0 z-50 h-full w-4/5 max-w-sm translate-x-full bg-white shadow-2xl transition-transform duration-300 ease-in-out md:hidden">
    <div class="p-6">
      <div class="mb-8 flex justify-end">
        <button
          id="close-toggle"
          class="p-2 text-3xl text-slate-500"
          aria-label="Close Menu">
          <Icon name="ph:x-bold" />
        </button>
      </div>

      <nav>
        <ul class="text-lochmara-900 flex flex-col gap-6 text-xl font-bold">
          <li><a href="/about">About Us</a></li>
          <li><a href="/classrooms">Classrooms</a></li>
          <li><a href="/newsletters">Newsletters</a></li>
          <li><a href="/contact" class="text-lochmara-600">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </div> -->
</header>
