---
import {Image} from 'astro:assets'
import {Icon} from 'astro-icon/components'

import type {Identity} from '@interfaces/identity'
import type {Classroom} from '@interfaces/classroom'

import '@styles/landmarks/common/header.css'

interface Props {
  identity: Identity
  classrooms: Classroom[]
}

const {identity, classrooms} = Astro.props
const {logo, name, phone, email, address, facebook, instagram} = identity

const currentPath = Astro.url.pathname
---

<header id="commonHeader" class="content overflow-y-visible!">
  <address class="flex items-center justify-between py-3 not-italic">
    <div class="flex items-center gap-4">
      <a
        href={`tel:${phone.replace(/\D/g, '')}`}
        class="flex items-center gap-x-1"
        aria-label={`Call us at ${phone}`}>
        <Icon
          name="line-md:phone-twotone-loop"
          class="text-red-400"
          size={20}
          aria-hidden="true"
        />{phone}
      </a>
      <a
        href={`mailto:${email}`}
        class="flex items-center gap-x-1"
        aria-label={`Email us at ${email}`}>
        <Icon
          name="line-md:email-filled"
          class="text-green-500"
          size={20}
          aria-hidden="true"
        />
        <span class="hidden lg:block">{email}</span>
      </a>
      <a
        href={`https://www.google.com/maps/search/?api=1&query=${encodeURIComponent(address)}`}
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center gap-x-1"
        aria-label={`Visit us at ${address}`}>
        <Icon
          name="line-md:map-marker-twotone-loop"
          class="text-orange-500"
          size={20}
          aria-hidden="true"
        />
        <span class="hidden lg:block">
          {address}
        </span>
      </a>
    </div>
    <div class="flex items-center gap-2">
      {
        facebook && (
          <a
            href={facebook}
            aria-label="Facebook"
            target="_blank"
            rel="noopener">
            <Icon
              name="line-md:facebook"
              class="text-[#1877F2]"
              size={20}
              aria-hidden="true"
            />
          </a>
        )
      }
      {
        instagram && (
          <a
            href={instagram}
            aria-label="Instagram"
            target="_blank"
            rel="noopener">
            <Icon
              name="line-md:instagram"
              class="text-[#E1306C]"
              size={20}
              aria-hidden="true"
            />
          </a>
        )
      }
    </div>
  </address>

  <nav
    class="flex items-center justify-between gap-x-8 py-3"
    aria-label="Main Navigation">
    <a href="/" aria-label={`${name} Home`}>
      {
        logo?.asset?.url ? (
          <Image
            src={logo.asset.url}
            alt={logo.alt || `${name} logo`}
            width={136}
            height={64}
            class="h-16 w-auto"
            loading="eager"
          />
        ) : (
          <span class="text-xl font-bold">{name}</span>
        )
      }
    </a>

    <ul
      class="mb-0! hidden shrink basis-100 items-center justify-between md:flex">
      <li>
        <a href="/" aria-current={currentPath === '/' ? 'page' : undefined}>
          Home
        </a>
      </li>
      <li>
        <a
          href="/about"
          class=""
          aria-current={currentPath === '/about' ? 'page' : undefined}>
          About Us
        </a>
      </li>
      <li
        class="group relative"
        x-data="{ isSubmenuOpen: false }"
        @mouseenter="isSubmenuOpen = true"
        @mouseleave="isSubmenuOpen = false">
        <button
          class="flex items-center gap-1 transition-colors hover:text-blue-600"
          :class="isSubmenuOpen ? 'text-blue-600' : ''"
          aria-haspopup="true"
          :aria-expanded="isSubmenuOpen">
          Classrooms
          <Icon name="lucide:chevron-down" class="size-4" />
        </button>
        <ul
          x-show="isSubmenuOpen"
          x-transition
          x-cloak
          class="submenu absolute top-full left-0 z-50 min-w-48 space-y-2 bg-white p-4 shadow-xl ring-1 ring-slate-200">
          {
            classrooms.map(classroom => (
              <li>
                <a
                  href={`/classrooms/${classroom.info.slug.current}`}
                  class="block text-sm whitespace-nowrap hover:text-blue-600">
                  {classroom.info.title}
                </a>
              </li>
            ))
          }
        </ul>
      </li>
      <li>
        <a href="#">Newsletter</a>
      </li>
    </ul>
    <a href="/contact" class="btn btn-blue text-nowrap max-md:hidden!">
      Schedule a Visit
    </a>
    <button
      id="menu-toggle"
      class="p-2 text-3xl text-blue-700 md:hidden"
      aria-label="Toggle Menu"
      aria-controls="mobile-drawer"
      :aria-expanded="isDrawerOpen"
      @click="isDrawerOpen = !isDrawerOpen">
      <Icon name="line-md:close-to-menu-transition" aria-hidden="true" />
    </button>
  </nav>
</header>
