---
import {sanityClient} from 'sanity:client'
import {PortableText} from 'astro-portabletext'
import {urlFor} from '@lib/urlFor'
import {formatDate} from '@utils/formatDate'

import Layout from '@layouts/Common.astro'
import Header from '@landmarks/Header.astro'
import PortableTextCarousel from '@components/PortableTextCarousel.astro'
import VocabularyList from '@components/VocabularyList.astro'

import '@styles/pages/newsletters.css'

export async function getStaticPaths() {
	const newsletters = await sanityClient.fetch(
		`*[_type == "newsletter"]{ "slug": slug.current }`
	)

	return newsletters.map(newsletter => ({
		params: {slug: newsletter.slug}
	}))
}

const {slug} = Astro.params
const newsletter = await sanityClient.fetch(
	`*[_type == "newsletter" && slug.current == $slug][0]{
    ...,
    featuredCarousel,
		vocabularyList
  }`,
	{slug}
)

if (!newsletter) {
	return Astro.redirect('/404')
}

const mainImage = newsletter?.mainImage
	? urlFor(newsletter.mainImage).width(1600).height(900).url()
	: null
const publishedDate = new Date(newsletter?.publishedAt).toLocaleDateString(
	'en-US',
	{
		year: 'numeric',
		month: 'long',
		day: 'numeric'
	}
)
const title = newsletter?.title || 'No Title'
---

<Layout {title}>
	<Header {title} {mainImage} {publishedDate} />
	<div class="prose prose-slate lg:prose-xl content py-content-block">
		<PortableText value={newsletter.body} />
	</div>
	{
		newsletter.vocabularyList && newsletter.vocabularyList.length > 0 && (
			<div class="content">
				<header>
					<h2>Jewish Vocabulary</h2>
				</header>
				<dl class="grid grid-cols-1 gap-x-12 gap-y-6 md:grid-cols-3">
					{newsletter.vocabularyList &&
						newsletter.vocabularyList.length > 0 && (
							<VocabularyList items={newsletter.vocabularyList} />
						)}
				</dl>
			</div>
		)
	}
	<footer class="content py-8">
		<a href="/newsletters" class="font-medium text-blue-600 hover:underline">
			← Back to all newsletters
		</a>
	</footer>
</Layout>
