---
import Layout from '@layouts/Common.astro'
import Header from '@landmarks/Header.astro'
import NewsletterCard from '@components/NewsletterCard.astro'

import {getAllNewsletters} from '@queries/newsletter'

import mainImage from '@images/woman-kids-board-globe-table.webp'

const newsletters = await getAllNewsletters()
const title = 'Newsletters'
---

<Layout {title}>
	<Header {title} {mainImage} />
	<section>
		<ul class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
			{
				newsletters.map(newsletter => (
					<li>
						<NewsletterCard newsletter={newsletter} />
					</li>
				))
			}
		</ul>
	</section>
</Layout>
