---
import Layout from '@layouts/Common.astro'
import Header from '@landmarks/Header.astro'
import {Image} from 'astro:assets'
import {sanityClient} from 'sanity:client'

import mainImage from '@images/woman-kids-board-globe-table.webp'

const newsletters = await sanityClient.fetch(
	`*[_type == "newsletter"] | order(publishedAt desc)`
)
const title = 'Newsletters'
---

<Layout {title}>
	<Header {title} {mainImage} />
	<section>
		<ul>
			{
				newsletters.map(newsletter => (
					<li>
						<a href={`/newsletters/${newsletter.slug.current}`}>
							<h2 class="!text-lg">{newsletter.title}</h2>
							<p class="text-gray-500">
								{new Date(newsletter.publishedAt).toLocaleDateString()}
							</p>
						</a>
					</li>
				))
			}
		</ul>
	</section>
</Layout>
