---
import ContactForm from '@components/ContactForm.astro'
import IconCard from '@components/IconCard.astro'

import {Image} from 'astro:assets'
import {PortableText} from 'astro-portabletext'

import {urlFor} from '@services/sanity'

const {
  heading = {title: 'Benefits', subTitle: ''},
  slug = {current: 'benefits'},
  body = [],
  images = [],
  cards = [],
  cardAlign = 'left'
} = Astro.props
---

<section
  id={slug?.current}
  class="bg-gradient-blue breakout justify-items-center bg-cover bg-fixed bg-center bg-no-repeat text-white">
  <div class="w-full max-w-lg px-6 py-12">
    <!-- <hgroup class="text-center">
      {heading?.subTitle && <p class="tagline">{heading?.subTitle}</p>}
      {heading?.title && <h2>{heading?.title}</h2>}
    </hgroup> -->
    {body && <PortableText value={body} />}
    <ContactForm theme="dark" submitText="Send us a message" btnColor="white" />
  </div>
</section>
