---
import IconCard from '@components/IconCard.astro'

import {PortableText} from 'astro-portabletext'

import {urlFor} from '@services/sanity'

const {
  heading = {title: 'Benefits', subTitle: ''},
  slug = {current: 'benefits'},
  body = [],
  images = [],
  cards = [],
  cardAlign = 'left'
} = Astro.props
---

<section aria-labelledby="services-label">
  <header>
    <hgroup class="text-center">
      {heading?.title && <h2 id="services-label">{heading?.title}</h2>}
      {heading?.subTitle && <p>{heading?.subTitle}</p>}
    </hgroup>
  </header>
  {
    cards?.length && (
      <ul class="grid grid-cols-1 justify-center gap-2 md:grid-cols-2 lg:grid-cols-4">
        {cards.map((card: any) => (
          <li>
            <IconCard
              title={card.title}
              description={card.description}
              sanityIcon={card.icon}
              color={card.color}
              align={cardAlign}
            />
          </li>
        ))}
      </ul>
    )
  }
</section>
