---
import CallToActionBox from './CallToActionBox.astro'
import Code from './Code.astro'
import Debug from './Debug.astro'
import YouTube from './YouTube.astro'
import {PortableText as PortableTextInternal} from 'astro-portabletext'
import PortableTextImage from './PortableTextImage.astro'
import SanityImage from './SanityImage.astro'
import InternalLink from './InternalLink.astro'

const {value} = Astro.props
const components = {
	type: {
		image: PortableTextImage
	},
	// You can also add custom styling for links, lists, etc. here
	mark: {
		link: ({value, slots}: any) =>
			`<a href="${value.href}" class="text-blue-600 underline">${slots.default()}</a>`
	}
}
---

<PortableTextInternal value={value} components={components} />
