---
import Head from '@landmarks/common/Head.astro'
import Header from '@landmarks/common/Header.astro'
import Drawer from '@landmarks/common/Drawer.astro'
import Footer from '@landmarks/common/Footer.astro'
import Hero from '@landmarks/Hero.astro'

import {fetchGraphQL} from '@services/sanity'
import {fetchIdentity} from '@queries/identity'

import type {Identity} from '@interfaces/identity'
import type {Info} from '@interfaces/info'

interface Props {
  info: Info
}

import '@styles/global.css'
import '@styles/layouts/common.css'

const identity = (await fetchIdentity()) || {
  name: 'Early Childhood Learning Center',
  email: '',
  phone: '',
  address: '',
  officeHours: '',
  socials: {facebook: '', instagram: ''}
}
const {info: Info} = Astro.props
---

<html lang="en-US">
  <Head {info} {identity} />
  <body x-data>
    <Header {identity} />
    <main>
      <Hero {info} />
      <slot />
    </main>
    <Footer {identity} />
    <Drawer {identity} />
  </body>
</html>
