---
import Head from '@landmarks/common/Head.astro'
import Header from '@landmarks/common/Header.astro'
import Drawer from '@landmarks/common/Drawer.astro'
import Footer from '@landmarks/common/Footer.astro'
import Hero from '@landmarks/Hero.astro'

import '@styles/global.css'
import '@styles/layouts/common.css'

import {fetchGraphQL} from '@services/sanity'
import {fetchIdentity} from '@queries/identity'
import type {PageInfo} from '@interfaces/pageInfo'
import type {Identity} from '@interfaces/identity'

interface Props {
  pageInfo: PageInfo
}

const identity = (await fetchIdentity()) || {
  name: 'Early Childhood Learning Center',
  email: '',
  phone: '',
  address: '',
  officeHours: '',
  socials: {facebook: '', instagram: ''}
}

const {pageInfo} = Astro.props
---

<html lang="en-US">
  <Head {pageInfo} {identity} />
  <Drawer {identity} />
  <body>
    <Header {identity} />
    <main>
      <Hero {pageInfo} />
      <slot />
    </main>
    <Footer {identity} />
  </body>
</html>
