---
export const prerender = true

import Layout from '@layouts/Common.astro'
import Header from '@landmarks/Header.astro'

import PortableTextCarousel from '@components/PortableTextCarousel.astro'

import {PortableText} from '@portabletext/react'
import {portableTextComponents} from '@lib/portableTextComponents'
import {fetchAllClassrooms, fetchClassroomBySlug} from '@lib/queries/classroom'

import '@styles/layouts/content.css'

export async function getStaticPaths() {
	const classrooms = await fetchAllClassrooms()
	return classrooms.map(classroom => ({
		params: {slug: classroom.slug.current}
	}))
}

const {slug} = Astro.params
const classroom = await fetchClassroomBySlug(slug)

if (!classroom) {
	return Astro.redirect('/404')
}

const mainImage = classroom.mainImage?.asset?.url || null
const title = `Our ${classroom.title} Program` || 'Classroom'
const subtitle = `Ages ${classroom.ageRange}`
---

<Layout {title}>
	<Header {title} {mainImage} {subtitle} />
	<section>
		{
			classroom.philosophy && (
				<div>
					<h2>Classroom Philosophy</h2>
					<p>{classroom.philosophy}</p>
				</div>
			)
		}

		{
			classroom.dayInTheLife && (
				<div>
					<h2>A Day in the Life</h2>
					{classroom.dayInTheLife.map(item => (
						<div>
							<time>{item.time}</time>
							<h3>{item.activity}</h3>
							<p>{item.description}</p>
						</div>
					))}
				</div>
			)
		}

		{
			classroom.curriculumHighlights && (
				<div>
					<h2>Curriculum Highlights</h2>
					<ul>
						{classroom.curriculumHighlights.map(highlight => (
							<li>{highlight}</li>
						))}
					</ul>
				</div>
			)
		}

		<div>
			<PortableText
				value={classroom.descriptionRaw}
				components={portableTextComponents}
			/>
		</div>
	</section>
</Layout>
